body {
  background-color: #333;
  margin: 0;
  font-family: 'Playfair Display', serif;
}

img, video {
  display: block;
  width: 100%;
}

/* absolute positioning:
   https://css-tricks.com/absolute-positioning-inside-relative-positioning/ */
.slide {
  position: relative;
}

.slide-desc {
  position: absolute;
  left: 10%;
  bottom: 15%;
  width: 80%;
  font-size: 24px;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
}

a, a:active, a:visited, .slide-desc {
  color: white;
}
